#greeting {
    text-align : center;
    /* position: relative; */
    left: 50%;
    /* top: 2vh; */
    font-size: 24px;
    font-weight: 700;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
