html {
    scroll-behavior: smooth;
}

#rightdiv {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 10px;
    right: 0px;
}

#b1 {
    border-radius: 50px;
    right: 10px;
}

#b1:hover {
    background-color: grey;
}

#options {
    opacity: 0;
    transition: opacity 0.2s ease;
    text-align: left;
    padding-right: 15px;
}

.rightlink:hover {
    color: yellow;
}

#b1 i {
    font-size: 24px;
    /* Adjust the size of the settings icon */
    color: #000;
    /* Set the color of the icon */
}

.light-theme #b1 {
    background-color: grey;
}