/* Home page */
.logo {
    text-align: left;
    width: 100px;
    padding: 5px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}

/* 
.search-bar {
    flex: 1;
    max-width: 400px;
    padding: 8px;
    margin: 0 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
} */

.login-link {
    font-size: 20px;
    color: gold;
    font-weight: bold;
    text-decoration: none;
}

.login-link i {
    margin-right: 5px;
}

h2 {
    padding: 10px;
}

/* For recommended movies */
.recommended-movies {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.movie-item {
    text-align: center;
    max-width: 190px;
    /* Adjust as needed */
}

.poster {
    width: 190px;
    height: 190px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.poster:hover {
    transform: scale(1.05);
}

.movie-name {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 2px;
    color: blue;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    /* background-color: #b70000; */
    padding: 2px 10px;
    position: relative;
}

.container {
    margin: 0px;
}

#menu {
    /* float: right; */
    /* width: 70%; */
    background-color: #c80f0f;
    text-align: center;
    margin: 0px;
}

#menu ul {
    border-radius: 20px;
    margin: 3px;
    padding: 0px;
    background: Black;
    display: inline-block;
}

#menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menu li a {
    display: inline-block;
    padding: 0 2.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 75px;
    color: gold;
}

#menu li a:hover {
    border-radius: 20px;
    background: #FFF;
    color: rgb(220, 100, 0);
    border-left: 1px solid #0074D9;
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    /* Center the items vertically */
}

.search-bar {
    flex: 1;
    width: 500px;
    max-width: 500px;
    /* Set a max-width for better appearance */
    padding: 8px;
    margin-right: 10px;
    /* Space between input and button */
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-button {
    padding: 8px 12px;
    background-color: #b54e04;
    /* Blue background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: gold;
    /* Darker blue on hover */
}

.search-button i {
    margin-right: 4px;
    /* Space between icon and text */
}