/* Overall signup page container */
.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 50px;
}

/* Signup form container styling */
.signup-container {
    width: 500px;
    /* Set the width of the signup form */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #eeefea;
    border-radius: 40px;
    overflow-y: auto;
}

/* Form styling */
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 15px;
}

/* Label styling */
.signup-form label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

/* Input field styling */
.input-field {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* Signup button styling */
.signup-button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #218838;
}

/* Message styling */
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}

.success-message {
    color: green;
    font-size: 14px;
    text-align: center;
}

/* Additional link styling */
.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

.icon-container {
    text-align: center;
}